/* Example of adjusting UI styles to the user's current color theme using ThemeParams */
.App {
  text-align: center;
  background-color: var(--tg-theme-bg-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: var(--tg-theme-text-color);
  height: min(100%, var(--tg-viewport-stable-height));
  transition: height .5s ease;
  user-select: none;
}

.scanner-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.scanner-wrapper span {
  margin: 0 8px;
}
