.object-viewer-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.object-viewer-wrapper span {
    margin: 0 8px;
}

.object-viewer-wrapper .image-viewer {
    flex: 0 1 auto;
    overflow: hidden;
    width: 90%;
    aspect-ratio: 1 / 1;
    border-radius: 10%;
}

.image-viewer img {
    width: 100%;
}

.object-viewer-wrapper .controls-bar {
    display: flex;
    flex-direction: row;
}

.audio-range {
    width: 80%;
    height: 16px;
    margin: 5px 10px;
}

.object-title {
    font-size: xx-large;
    margin: 10px 0;
}