.ripple-container {
    position: relative;
    overflow: hidden;
}

.ripple-container span {
    --duration: 1000ms;
    transform: scale(0.25);
    border-radius: 100%;
    position: absolute;
    opacity: 0.2;
    background-color: var(--tg-theme-button-text-color);
    animation-name: ripple;
    animation-fill-mode: forwards;
    animation-duration: var(--duration);
    transition: opacity var(--duration);
    pointer-events: none;
}

.ripple-container span.inactive {
    opacity: 0;
}

@keyframes ripple {
    to {
        transform: scale(2);
    }
}